.nav_bar {
    background-color: rgb(167, 24, 8);
    height: 200px;
    width: 100vw;

    .logo {
        display: flex;
        justify-content: flex-start;
        margin-left: 20px;
        padding: 20px;
        font-size: 50px;
        color: white;

        
    }
    h1 {
        font-family: 'Bangers', cursive;
        font-size: 50px;
        margin-left: 10px;

    }
    h3 {
        display: flex;
        padding: 5px;
        margin-left: 30px;
        margin-top: 10px;
    }
    .nav_buttons {
        display: flex;
        justify-items: flex-end;
        justify-content: space-around;
        padding: 20px;

       
        
        button {
            padding: 5px;
            border-radius: 10px;
            box-shadow: 3px 14px 33px -9px rgba(0,0,0,0.75);
            
        }
    }

}